<!DOCTYPE html>
<html lang="en">
<head>
  <link type="image/x-icon" rel="icon" href="/assets/favicon.ico" />
  <link type="image/x-icon" rel="shortcut icon" href="/assets/favicon.ico" />
  <link type="image/x-icon" rel="bookmark" href="/assets/favicon.ico" />
  <meta charset="UTF-8">
  <title>Emailing System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
</head>
<body>
  <div id="root"></div>
</body>
</html>